* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.top {
    width: 100%;
    height: 160px;
    /* background: rgba(255,255,255,var(--tw-bg-opacity)) */
    box-shadow: 0px 1px 2px 0px rgb(223, 223, 223);
}

.top .content {
    margin: 20px auto;
}

.logo {
    float: left;
    width: 300px;
    margin: 0 80px;
}

.logo img {
    height: 120px;
}

.menu {
    float: right;
    width: 600px;
    margin: 0 70px;
}

.menu li {
    display: inline-block;
}

.menu ul a {
    text-decoration: none;
    color: #000;
    font-size: 25px;
    line-height: 120px;
    margin: 0 20px;
    cursor: pointer;
}

.menu ul a:hover {
    /* text-decoration: underline; */
    transform: scale(1.1);
}

.bottom {
    background-color: rgb(247,254,254);
    height: 180px;
    box-shadow: 0px -2px 3px 0px rgb(216, 216, 216);
}

.copyright {
    width: 600px;
    float: left;
}

.copyright .texts {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.6em;
    margin-left: 40px;
    padding: 60px 0;
    /* height: 200px; */
}

.bottom .link {
    float: right;
    margin: 75px 0;
    margin-right: 100px;
}

.bottom .link li {
    display: inline-block;
    margin: 0 10px;
}

.bottom .link img {
    width: 28px;
}